<!DOCTYPE html>
{% load static%}
<html lang="en"> 
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 <title>MasukanData</title>
 <link rel="icon" href ="img/instravel.png" type="image/x-icon">
 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
.switch input {
    position: absolute;
    opacity: 0;
}

.switch {
    display: inline-block;
    font-size: 20px; /* 1 */
    height: 1.5em;
    width: 3em;
    background: whitesmoke;
    border-radius: 1em;
}

.switch div {
    height: 1.5em;
    width: 1.5em;
    border-radius: 2em;
    background: #333333;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
            transition: all 300ms;
}

.switch input:checked + div {
    background: yellow;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
}
.light{
    background-color: white;
}

.light h1{
    color: #333333;
}

/*
dark mode
*/

.dark{
    background:#1b384a;
            background-size: cover;
}

.dark div{
    color: white;
}

.dark .card-body{background: #00aced;
	border: none;
}
</style>
<body class="light">
    <div class="container">
     <div class="row" style="margin-top: 3vh;">
		<div class="col">
			<img src="{% static 'img/instravel.png'%}" class="card-img-top" style ="max-width: 30%;">
		</div>
		<div class="row text-right">  
				<div style="margin-right:10px;">
					<label id="cb" class="switch"><input type="checkbox" id="hoho"><div></div></label>
				</div>
				{% if user.is_authenticated %}
				<a style="color: red;" class="nav-link" href="{% url 'tk1app:logout' %}">SignOut <span class="sr-only">(current)</span></a>
				{%endif%}
			<a href="/daftar/"><button class="btn" type="submit" style="border-color:black; color: black;background-color: white;margin-right:6vh;border-radius: 7px;" >List Destinasi</button></a>
		</div>
	</div>
	<form method="POST" action="." style="color: #09B291;margin-top: 3vh">
		{% csrf_token %}
		{{form}}
		{% if user.is_authenticated %}
		<div class="text-right" style=" margin-top: 10px">
			<button type="submit" class="btn btn-success" style="background-color: #09B291; border-radius: 7px;">Add</button>
		</div>
		{% else %}
		<div class="text-right" style=" margin-top: 10px">
				<button type="submit" class="btn btn-success" style="background-color: #09B291; border-radius: 7px;">Add</button>
			</div>
		{% endif%}
		</form>
		{% if not user.is_authenticated %}
	   	<div class="text-center">
			   <div>
				   Jika ingin menambahkan tempat wisata baru yuk sign in
			   </div>
		<a style="color: darkturquoise;" class="nav-link"href="{% url 'tk1app:login' %}"><u>Sign In</u><span class="sr-only">(current)</span></a>
		</div>
		{% endif%}
		<div class="text-center">
				{% if data != null %}
		<h3> Daftar request dari pengunjung</h3>
		{% endif%}
	</div>
		<div class=" container text-center card-columns">
			{% for parwis in data %}
					   <div class="card">
							<div class="card-body">
							<h4 class="card-title">{{ parwis.nama }}</h4>
							</div>
							</div>
				    {% endfor %}
					</div>
	   </div>
	   
	   <script src="{% static 'js/mode.js' %}" type="text/javascript"></script>   
	</body>
</html>