{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>InsTravel</title>
    <link href="https://fonts.googleapis.com/css?family=Qwigley&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'css/StyleSaran.css' %}" rel="stylesheet" type="text/css">
    

</head>
<body>
  {% include 'nav.html' %}

  <div class = "row page-container">
    <div class= "col-md-6 fun-container" >
        <h2 id="activity-header" class="text-center" >Things Fun To Do While Travelling!</h2>
    
        <div class="accordian">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Road Trip Games
                    </h4>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Guess the Song!</li>
                        <li>Truth or Dare</li>
                        <li>Bingo!</li>
                        <li>Disney Inspired "Would You Rather?"</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>
                        Try Free Activities
                    </h4>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Find free local live music</li>
                        <li>Picnic in the park</li>
                        <li>Go to free musemus</li>
                        <li>Take a free walking tour</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>
                        Take Pictures Differently
                    </h4>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Using a pattern/theme</li>
                        <li>Try to find new viewpoint</li>
                        <li>Use wide lense</li>
                        <li>Take picture that personal to you</li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
    <div class = col-md-6>
            <div class = "container">
                    <h3 class="text-center">Kamu memiliki saran selama berpergian?</h3>
                
                    <div class="form-saran">
                        <form method='POST' class="form-container"action='' name="status form" id="status">
                            {% csrf_token %}
                            {{form}}
                            <button type="submit" class="btn" name="add" id='addButton'>Add</button>
            
                    </div>                
                    
            
                    </form>
            </div>
        <div class = container>
                <table class="table table-bordered">
                        <thead>
                             <tr>
                                <th>Saran Dari Para Travellers</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for objek in data %}
                         <tr>
                            <td>{{objek.saran}}</td>
                        </tr>
                            {% endfor %}    
                        </tbody>
                    </table>
        </div>
       
    </div>
    
    </div>
    
    <div class="row">
        <div class ="col-md-12">
        <h2 id="hacks" class="text-center" >Travel Hacks!</h2>
        {% if user.is_authenticated %}
        <div class="accordian">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Packaging Hacks
                    </h4>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Mark your baggage as fragile</li>
                        <li>Roll your clothes</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>
                        Go-to-places Hacks
                    </h4>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Get all the freebies as a market researcher</li>
                        <li>Follow the pub crawl path</li>
        </div>
    </div>
        
    </div>
    {% else %}
    <h2 class="text-center">Mau tau Travel Hacsk? Silahkan Sign in terlebih dahulu</h2>
    {% endif %}

    
    {% block content %}
    
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script type="text/javascript" src="{% static 'js/ScriptSaran.js' %}"></script>
    </body>
    </html>
</body>
</html>