.fun-container{
    padding-left : 50px;
}
.page-container{    
    padding-top : 50px;
}
#saranButton {
    cursor : pointer;
    border-color: rgb(211, 202, 228);
}
#hacks{
    text-align: center;
}
#saranButton:hover{
    background: purple;
    color : #ffffff;
}
#saranButton:active{
    background:purple;
    color : #ffffff;
}
#addButton {
    cursor : pointer;
    border-color: mediumseagreen;
    margin-top:20px;
}
#addButton:hover{
    background: limegreen;
    color : #ffffff;
}
#addButton:active{
    background:limegreen;
    color : #ffffff;
}

.tutupButton{
    background: palevioletred;
}
.accordian{
    max-width:600px;
    display: block;
    margin : 100px auto;
}
.accordian .card{
    box-shadow: 0px 0px 20px #d4d4d4;
    margin-bottom: 20px;
    float:left;
    width:100%;
}
.accordian .card .card-header h3{
    cursor: pointer;
    color: #ffffff;
    position: relative;
    background-color: aquamarine;
    margin:0;
    padding:20px;
}
.accordian .card .card-header {
    position: relative;
    background-color: aquamarine;
}
.accordian .card .card-headerspan{
    position : absolute;
    right:20px;
    top:12px;
    height:25px;
    width: 25px;
    color:#90c0df;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-size: 13 px;
}
.accordian .card .card-body{
    padding:20px;
}
.accordian .card .card-body{
    background-color: #ffffff;
    display:none;
}
/* open one card by default */
.accordian .card:nth-child(1) .card-body{
    display:block;

}
.accordian .card .card-body p{
    font-size: 15px;
    line-height: 24px;
    color: #444444;
    margin:0px;
}