{% load static %}

<html>
<head>
    <title>PPW-16</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>


<body>
    <header>
            <img src="{% static 'img/instravel.png' %}" class="center" style="padding-top: 12%;display: block;margin-left: auto;margin-right: auto;max-width: 70%;">
            <h1 class="text-center" style="color: 52DE97;">Explore New Destination With Us</h1>
            <div class="row tengah" style="padding: 2%;justify-content: center;">
                {% if user.is_authenticated %}
                <a href="/daftar/" role="button" class="btn explore" style="background-color: 52DE97;color: white;font-size: 150%;margin-right: 1%;">Explore Your Journey</a>
                <a href="/input/" role="button" class="btn addnew" style="background-color:b22222;color: white;font-size: 150%;margin-left: 1%;">Add New Destination</a>
                {%else%}
                <a href="/daftar/" role="button" class="btn explore" style="background-color: 52DE97;color: white;font-size: 150%;margin-right: 1%;">Explore Your Journey</a>
                {% endif%}
            </div>
    </header>
</body>
</html>
