{% load static %}
<!Doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/qnastyle.css' %}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script type="text/javascript" src="{% static 'js/qnascript.js' %}"></script>

    <title>Question & Answer</title>
  </head>
  <body>
    {% include 'nav.html' %}
  <div class=threebutton>
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-10" style="padding-left: 10%">
      <button class="btn" href="/qna/recentquestion">Recent Question</button>
      <!--<button class="btn" href="/qna/mostanswer">Most Response</button>-->
      <!--<button class="btn" href="/qna/noanswer">No Answer</button>-->
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <button class="btn ask" id="askButton">Ask</button>
    </div>
  </div>
   <div class="row">
      <div class="col-lg-10" style="padding-left: 10%">
       <hr class="line">
      </div>
      <!-- <div class="col-lg-2">
        <button class="btn answer" onclick="openForm()">Answer</button>
      </div> -->
  </div>

  <div class="form-popup" id="myForm">
  <form method="post" class="form-container">
    {% csrf_token %}
    <div class="row">
      <div class="col mx-auto" align="center">
        <h1 style="font-size: 30px; font-weight: bold; width: 100%; color:#09B291;">Ask Something</h1>
      </div>
    </div>
    <div class ="row" style="padding-top: 3%">
      <div class ="col">
        <label for="nama" style="color: #09B291"><b>Nama</b></label>
      </div>
      <div class ="col">
        <label for="email" style="color: #09B291"><b>Email</b></label>
      </div>
    </div>
    <div class ="row">
      <div class ="col">
        {{ data_form.nama }}
      </div>
      <div class ="col">
        {{ data_form.email }}
      </div>
    </div>
    <div class ="row">
      <div class ="col">
        <label for="subjek" style="color: #09B291"><b>Subjek</b></label>
      </div>
    </div>
    <div class ="row">
      <div class ="col">
        {{ data_form.subjek }}
      </div>
    </div>
    <div class ="row">
      <div class ="col">
        <label for="pertanyaan" style="color: #09B291"><b>Pertanyaan</b></label>
      </div>
    </div>
    <div class ="row">
      <div class ="col">
        {{ data_form.pertanyaan }}
      </div>
    </div>

    <div class ="row" style="float: right; padding-right: 2%;">
      <div class="col-lg-6">
        <button type="button" class="btn cancel" id="closeButton">Close</button>
      </div>
      <div class="col-lg-6">
        <button type="Submit" class="btn" href="/qna/recentquestion">Add</button>
      </div>
    </div>
  </form>
</div>

<!-- {% for data in data_model %}
  <div class='kotak' id="kotakid">
    <div class='row' style='font-size: 12px; padding: 0%'>
        <p>{{ data.nama }} - {{ data.email }}</p>
    </div>
    <div class='row'>
      <span style="background-color: #FFFFFF; color: #09B291">{{ data.subjek }}</span>
    </div>
    <div class='row'>
      <p>{{ data.pertanyaan }}</p>
    </div>
    <div class='row'>
      <hr class='line' style="border: 1px solid #FFFFFF;">
    </div>
  </div>
  <br>
{% endfor %} -->

<div id="pertanyaan">
</div>


{% for data in data_model2 %}
<div class='kotak2' id="kotak2id" style="margin-left: 15%; margin-right: 15%">
  <div class="row" style="font-size: 15px">
    <p>untuk {{ data.penanya }}</p>
  </div>
  <div class="row">
    <p>{{ data.jawaban }}</p>
  </div>
</div>
<br>
{% endfor %}

<br>

{% if user.is_authenticated %}
<div class="row">
  <h2 style="background-color: #784299; color: #FFFFFF; margin-left: 12%; margin-bottom: 2%; font-weight: bold;">Wanna Help Your Friends?</h2>
</div>
<form method="POST" class="form-container2">
  {% csrf_token %}
  <div class ="row" style="margin-left:10%; margin-right: 10%;">
      <div class ="col-lg-4" style="font-size: 20px;">
        <label for="untuk" style="color: #784299;"><b>Untuk</b></label>
      </div>
      <div class ="col-lg-8" style="font-size: 20px;">
        {{ data_form2.penanya }}
      </div>
    </div>
  <div class ="row" style="margin-left:10%; margin-right: 10%;">
      <div class ="col-lg-4" style="font-size: 20px;">
        <label for="jawaban" style="color: #784299"><b>Jawaban</b></label>
      </div>
      <div class ="col-lg-8" style="font-size: 20px;">
        {{ data_form2.jawaban }}
      </div>
  </div>
  <div class ="row" style="margin-left:10%; margin-right: 18%; float: right">
    <button type="Submit" id="id_button" class="btn answer" href="/qna/recentquestion">Answer</button>
  </div>
</form>

{% else %}

{% endif %}

</body>
</html>