* 
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

.explore
{
    background-color: 52DE97;
    color: white;
    font-size: 150%;
    margin-right: 1%;
}

.addnew
{
    background-color:b22222;
    color: white;
    font-size: 150%;
    margin-left: 1%;
}

.tengah
{
    justify-content: center;
}


.details {
    display: none;
    margin: auto;
    position: fixed;
    top: 20%;
    right: 17%;
    border: 3px solid #f1f1f1;
  
}
  
.form-container {
    width: 800px;
    height: auto;
    padding: 20px;
    color: #000000;
}