{% load static %}

<html>
<head>
    <title>InsTravel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>   
    <script type="text/javascript" src="{% static 'js/daftarscript.js' %}"></script>

</head>


<body>


    <header class="half container-fluid flex-column flex-lg-row" style="padding-top: 5%">
        {% include 'nav.html' %}
        <div class="col-sm d-flex justify-content-center align-items-center" style="padding-top: 2%; padding-bottom: 0;">
            <form class="d-flex flex-column my-2 w-75" method="POST" action=".">
                <div class="container">
                    <div class="row">
                        {% csrf_token %}
                        {% for x in musim %}
                        <div id="musim" class="col-6">
                            <p> {{ x }}</p>
                        </div>
                        {% endfor %} 
                        <h4>Harga: </h4>
                        {% csrf_token %}
                        {% for y in harga %}
                        <div id="harga" class="col-4">
                            <p > {{ y }}</p>
                        </div>
                        <div>
                            <button id="filterbtn" class="btn" type="submit" style="background-color:darkred; color: white;">Filter</button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </header>

    <section class="text-center">
        <div class="card-deck " style=" display: flex; flex: wrap; padding-left: 15%; padding-right: 15%; padding-top: 2%;">
            {% for parwis in data %}
            <div id="daftar-box" class="col-12 text-center dets" style="max-width: 100%;">
                <div class="card-body row">
                    <div class="col-4">
                        <img src="{% static 'img/fototempat.png' %}" class="card-img-top"> 
                        <h4 class="card-title text-center">{{ parwis.nama }}</h4>
                        <p class="card-text text-center">{{ parwis.tempat }}</p>
                        <h6 style="color: darkred;" class="card-text text-center">{{parwis.harga}}</h6>
                    </div>
                    <div class="col-8">
                        <div>
                            <h5>Deskripsi</h5>
                            <div>
                                <p>{{parwis.deskripsi}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="popup-detail" class="details" style="background-color: 52DE97; color: white;">
            <div class="form-container">
                <div class="col-12 text-center" style=" max-width: 100%;">
                   <img src="{% static 'img/fototempat.png' %}" class="card-img-top">       
                </div>
                <div style="padding: 2%;">
                    <button id="closedets" class="btn text-center" type="button" style="background-color:darkred; color: white; font-size: 2vh;">Close</button>
                </div>
            </div>
        </div>       
    </section>
    <section style="padding: 3%;">

    </section>
    <section style="padding: 5%; background-color: orangered;">
        <h2 class="text-center" style="color: white;"> Update Wawasanmu dengan Berita Seputar Pariwisata Indonesia</h2>
        <a href="/daftar/news/"> <button id="newstombol" class="btn" type="button" style="display: block; margin: auto;background-color:white; color: orangered; font-size: 2vh;">Klik Di Sini</button>
        </a>
    </section>

</body>
</html>