{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Berita Pariwisata</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>   
    <script type="text/javascript" src="{% static 'js/daftarscript.js' %}"></script>
</head>

<body style="background-color: whitesmoke;">  
    <header>
        <div style="padding: 3%;" class="container">
            <img src="{% static 'img/instravel.png' %}" class="center" style="display: block; margin: auto;max-width: 40%;">
            <h1 class="text-center">Berita Terkini Pariwisata Indonesia</h1>
        </div>
        <div class="row text-center" style="display: block; margin: auto; padding-bottom: 1%;">
            <button id="newsbtn" class="btn" type="button" 
            style="background-color: #52DE97; color: white; font-size: 2vh;">Update Berita</button>            
            
            <a href="/daftar/"> <button id="kembali" class="btn" type="button" style="background-color:orangered; color: white; font-size: 2vh;">Kembali</button>
            </a>
            
        </div>
    </header>
    <section style="background-color: white; padding: 2%;">
        <div  id="berita" class="text-center" ></div>
        <div class="container" style="border: 2vh;">
            <div  id="result" class="text-center" ></div>
        </div>
    </section>
        
    
</body>
    

</html>